<!--Footer links-->
<div class="container-fluid border-top-footer">
    <div class="row">
      <div class="col-4">
        <p class="footer-description">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | F∆M </p>
      </div>
      <div class="col-2">
        <p class="footer-description">Front-End Developer, UI Designer</p>
      </div>
      <div class="col-6" align="center">
       <a href="https://github.com/fmedinab" target="_blank" class="footer-description">Github</a>
        
        <a href="mailto:dev.frankmedinas1997@gmail.com" class="footer-description">Email</a>
        
        <a href="https://www.instagram.com/franjdemo/" target="_blank" class="footer-description">Instagram</a>
      </div>
    </div>
  </div>