:root {
    --font: "Inter", sans-serif;
    --size-quote: 95px;
    --dark-background: #03001e;
    --yellow: #feac5e;
    --purple: #c779d0;
    --blue: #4bc0c8;
    --white: #ffffff;
    --violet: #9c6cebf3;
    --light-yellow: #fbd485;
    --pink: #ef629f;
    --light-blue: #20bdff;
    --opacity: 60%; 
    --card-background: #26243b;
  }


  @font-face{
    font-family:myfont;
    src:url(ViaAppia.ttf); 
  }
  /*Galaxy Fold*/
@media only screen and (min-device-width: 280px) and (max-device-width: 653px) {
  img.icon {
    width: 200px !important;
    box-shadow: -30px -20px 20px rgba(227, 135, 255, 0.3),
      0px 40px 20px rgba(255, 219, 57, 0.3),
      30px -20px 20px rgba(118, 255, 255, 0.22) !important;
  }
}

body{
    background: #090909;
}
.bg-black{
    background: #000;
}
.card-project:hover{
  border-top: solid 1px var(--purple);
  cursor: pointer;
}

.bg-posts{
    background: #2524248a;
}

.btn-text{
    color: #e2df268a;
}

p.footer-description,
a.footer-description {
  font-size: 9px !important;
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}


a.footer-description {
    margin: 0 0 0 0.3rem !important;
  }

  div.border-top-footer {
    border-top: solid 1px var(--purple);
    margin: 0 0 4rem 0;
    padding: 1.5rem 1rem !important;
  }

  .img_width{
    width: 15px;
    height: 15px;
    filter: drop-shadow(1px 1px 20px #fff);
  }


  button.color {
    font-size: 17px !important;
    margin: 2rem 0 0 0;
    font-family: var(--font);
    font-weight: 400;
    padding: 1rem !important;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    background-color: #a068d8;
    box-shadow: 0px 15px 20px rgba(98, 65, 130, 0.3) !important;
    color: #fff;
    transform: translateY(-7px);
    cursor: pointer;
    outline: none;
  }

  h1{
    font-family: myfont;
  }